* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8fafc;
  font-family: "Arial", sans-serif;
  display: block;
}
.header {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-family: "Arial", sans-serif;
  font-size: 2.441rem;
  font-weight: 400;
}
.title-underline {
  background: #10b981;
  width: 110px;
  height: 4px;
  margin-top: 10px;
}
.img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img-box {
  position: relative;
}
.price {
  background-color: #10b981;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
}
